@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Comercial";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Página com conteúdo exclusivo para o departamento Financeiro.Página com conteúdo exclusivo para o departamento de Recursos Humanos. Está é uma página de um exemplo
        de um site, e a área dos Recursos Humanos é um local onde somente funcionários com determinado
        nível de acesso podem adentrar.
    </p>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #B0E0E6;
        margin: 0;
        padding: 0;
    }

    /* Estilo do título */
    h1 {
        color: #007bff;
		text-align: center;
        font-size: 2.5rem; 
        margin-top: 3rem;
        font-weight: bold;
    }

    /* Estilo do parágrafo */
    p {
        color: black; 
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1.5rem;
        padding: 0 15px;
    }

    /* Caixa de conteúdo */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #E0FFFF;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

</style>
