@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>
        Esta é uma empesa fictícia que tem como propósito melhorar as habilidades do Estudante Luccasde Francisco pereira dos Santos
        na criação de sites e este é um exemplo de uma empresa com bancos de dados onde cada funcionário possui acesso a um determinado
        setor.
    </p>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #B0E0E6;
        margin: 0;
        padding: 0;
    }

    
    h1 {
        color: black; 
        font-size: 3rem; 
        font-weight: bold;
        margin-top: 5rem;
    }

    p {
        color: black; 
        font-size: 1.25rem; 
        margin-top: 1rem;
        text-align: center;
    }

    a {
        color: darkgray; 
        text-decoration: none; 
    }

        a:hover {
            text-decoration: underline; 
        }

    .text-center {
        text-align: center;
        margin-top: 3rem;
    }
</style>
